.socialMedia_section {
  margin: 100px auto 120px auto;
  max-width: 1560px;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  .green-mask-button {
    width: 28%;
    aspect-ratio: 439/109;
    transform: rotate(4deg);
    font-size: clamp(14px, 60px, 4vw);

    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-99);
  }
}

.socialMedia {
  width: 100%;
  background-color: var(--color-maroon);
  aspect-ratio: 773/160;
  position: relative;
  -webkit-mask-image: url("../images/social-media-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  mask-image: url("../images/social-media-mask.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

  .masked {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    padding: 0 70px;
    transform: translateY(-50%);

    h2 {
      text-shadow: var(--text-shadow-1);
    }

    .links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 28px;
    }

    .link {
      backdrop-filter: blur(16px);
      background: #ffffff30;
      padding: 12px 20px;
      display: flex;
      align-items: center;
      border-radius: var(--rounded-24);
      color: var(--white);
      cursor: pointer;
      min-width: 48px;
      img {
        width: 66px;
        height: 66px;
        aspect-ratio: 1;
        margin-right: 18px;
      }

      p {
        font-size: clamp(10px, 2vw, 24px);
      }
    }
  }
}

@media (max-width: 1480px) {
  .socialMedia {
    .content {
      padding: 0 32px;
    }
  }
}
@media (max-width: 1280px) {
  .socialMedia {
    .content {
      padding: 0 24px;

      & .link {
        img {
          width: 45px;
          height: 45px;
          margin-right: 10px;
        }
        p {
          font-size: clamp(10px, 2vw, 18px);
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .socialMedia_section {
    margin: 40px auto 60px auto;
  }
  .socialMedia {
    .content {
      padding: 0 15px;
      .links { 
        gap: 14px;
    }
      & .link {
        padding: 8px 12px;

        img {
          width: 38px;
          height: 38px;
          margin-right: 6px;
        }
        p {
          font-size: clamp(10px, 2vw, 12px);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .socialMedia {
    .content {
      padding: 0;

      .links {
        gap: 12px;
      }

      & .link { 
        img {
          width: 32px;
          height: 32px; 
        }

        p {
          font-size: 10px;
        }
      }
      h2 {
        font-size: clamp(10px, 3vw, 24px);
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 576px) {
  .socialMedia_section {
    margin: 40px 0;
  }
  .socialMedia {
    & .content {
      padding: 0;

      .links {
        gap: 8px;
      }
      & .link {
        padding: 6px;
        border-radius: 12px;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
          aspect-ratio: 1;
          margin-right: 0px;
        }
        p {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .socialMedia {
    & .content {
      .links {
        gap: 2px;
      }
      & .link {
        padding: 2px;
        min-width: 40px;
        img {
          width: 20px;
          height: 20px;
        }
        p {
          display: none;
        }
      }
    }
  }
}
