.subscribe_section {
  max-width: 1556px;
  margin: 0 auto;
  .mask {
    background-color: var(--bg-dark);
    position: relative;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;

    .masked {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    }
  }
  .mask-1 {
    mask-image: url("../images/subscribe-mask-1.svg");
    -webkit-mask-image: url("../images/subscribe-mask-1.svg");
  }
  .mask-2 {
    mask-image: url("../images/subscribe-mask-2.svg");
    -webkit-mask-image: url("../images/subscribe-mask-2.svg");
  }
}
