@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Condiment&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.condiment {
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
}

.ceviche {
  font-family: "Ceviche One", system-ui;
  font-optical-sizing: auto;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
:root {
  --white: #ffffff;
  --color-pink-light: #aa77a8;
  --color-op-gray: #ffffff4d;
  --color-pink: #ff00f9;
  --primary-color: #ff00ee;
  --color-green: #004a42;
  --color-green-1: #494949;
  --color-skyblue-1: #039be5;
  --color-skyblue-2: #03a9f4;
  --color-purple: #5046af;
  --color-maroon: #654900;
  --btn-color: #4b024a;
  --liner-bg-1: linear-gradient(180deg, #6ef4c4 0%, #009289 92.59%);
  --radial-bg: radial-gradient(
    54.48% 191.16% at 50% 50%,
    rgba(244, 110, 241, 0.19) 0%,
    rgba(244, 110, 241, 0.08) 100%
  );

  --liner-bg-2: linear-gradient(
    135deg,
    #fae100 14.64%,
    #fcb720 25.25%,
    #ff7950 35.86%,
    #ff1c74 50%,
    #6c1cd1 85.36%
  );
  --color-red: #ff0000;
  --color-grey: #ffffff33;
  --bg-dark: #0e0e0e;

  --font-montserrat: "Montserrat", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --font-ceviche: "Ceviche One", sans-serif;
  --font-condiment: "Condiment", cursive;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-10: 10px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-28: 28px;
  --fs-32: 32px;
  --fs-34: 34px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-53: 53px;
  --fs-60: 60px;

  --rounded-24: 24px;

  --z-index-99: 99;

  --text-shadow-1: 8px 4px 12px #00000075;
}

a {
  text-decoration: none !important;
}

.para {
  font-family: var(--font-montserrat);
  font-weight: var(--fw-600);
}
.para-1 {
  font-size: var(--fs-18);
  line-height: 1.11;
  letter-spacing: 0em;
}
.para-2 {
  font-size: var(--fs-16);
  line-height: 1.25;
  letter-spacing: -0.006em;
}
.para-3 {
  font-size: var(--fs-14);
  line-height: 1.4;
  letter-spacing: -0.006em;
}

.para-4 {
  font-size: var(--fs-24);
  line-height: 1;
}

.head-1 {
  font-family: var(--font-condiment);
  color: var(--white);
  text-shadow: -3px -3px 24px #ff01b7b2, 3px 3px 6px #00125040;

  font-weight: var(--fw-400);
  font-size: 170px;
  line-height: 1.4;
  margin: 0;
}
.head-2 {
  font-family: var(--font-lexend);
  font-weight: var(--fw-600);
  font-size: var(--fs-20);
  line-height: 1.4;
  letter-spacing: -0.017em;
}

.head-3 {
  font-family: var(--font-ceviche);
  font-weight: var(--fw-400);
  font-size: var(--fs-36);
  line-height: 86%;
  letter-spacing: 0%;
}

.head-4 {
  font-family: var(--font-montserrat);
  font-weight: var(--fw-700);
  font-size: var(--fs-36);
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
}

.head-5 {
  font-family: var(--font-ceviche);
  font-weight: var(--fw-400);
  font-size: var(--fs-53);
  line-height: 0.9;
}

body {
  background: var(--bg-dark) !important; 
}

.bg-banner {
  background-image: url("./assets/images/bg-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 0;
    height: 100%;
  }
  &::after {
    top: 0;
    background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #0e0e0e 100%);
  }
  &::before {
    top: -1px;
    background: linear-gradient(
      360deg,
      rgba(14, 14, 14, 0) 4.95%,
      #0e0e0e 100%
    );
  }
}

.green-mask-button {
  --off-market-play-btn-mask-image: url("./assets/images/button-mask-green.svg");
  background: url("./assets/images/button-mask-green.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;

  font-family: var(--font-ceviche);
  font-weight: var(--fw-400);
  line-height: 1;
  color: var(--color-green);
  transition: all .3s ease-in-out;

  &:hover{
    filter: drop-shadow(-0.1em 0.1em .5em var(--color-green));
    -webkit-filter: drop-shadow(-0.1em 0.1em .5em var(--color-green));
  }
}

.btn-pink-wrapper {
  filter: drop-shadow(-0.3rem 0.3rem 1.5em #ab0fa1);
  -webkit-filter: drop-shadow(-0.3rem 0.3rem 1.5em #ab0fa1);

  .btn-pink-box {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(-0.3rem 0.3rem 0 transparent);
    -webkit-filter: drop-shadow(-0.3rem 0.3rem 0 transparent);
    position: relative;
  }

  .btn-pink {
    width: 100%;
    z-index: 1;
    max-width: 280px;
    aspect-ratio: 90 / 40;
    mask-image: url("./assets/images/pink-btn-mask.svg");
    -webkit-mask-image: url("./assets/images/pink-btn-mask.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-position: center;
    -webkit-mask-position: center;
    transition: all 0.3s ease-in-out;
    text-shadow: -8px 8px 12px rgba(0, 0, 0, 0.35) !important;

    .btn-content {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #f46ef1 0%, #ab0fa1 92.59%);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #ffffff33;
        -webkit-mask-image: url("./assets/images/pink-btn-outline-mask.svg");
        mask-image: url("./assets/images/pink-btn-outline-mask.svg");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        pointer-events: none;
      }
    }

    .text {
      font-family: var(--font-ceviche);
      font-weight: var(--fw-400);
      font-size: var(--fs-36);
      line-height: 1;
      color: var(--btn-color);
      position: relative;
      z-index: 2;
    }
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(-0.3rem 0.3rem 1em #f46ef1);
    -webkit-filter: drop-shadow(-0.3rem 0.3rem 1em #f46ef1);

    .btn-pink-box {
      transition: all 0.3s ease-in-out;
      filter: drop-shadow(-0.5rem 0.5rem 0 #4e0148) !important;
      -webkit-filter: drop-shadow(-0.5rem 0.5rem 0 #4e0148) !important;
      .btn-content {
        background: linear-gradient(240deg, #f46ef1 0%, #ab0fa1 92.59%);
      }
    }
  }
  &:active {
    transform: translateY(1em) scale(0.9) !important;
  }
}


@media (max-width: 1600px) {
  .head-1 {
    font-size: 140px;
  }
}
@media (max-width: 1480px) {
  .head-1{
    font-size: 130px;
  }
  .head-4{
    font-size: var(--fs-32);
  }
}

@media (max-width: 1220px) {
  .head-4{
    font-size: var(--fs-28);
  }
}
@media (max-width: 991px) {
  .head-1{
    font-size: 80px;
  }
  .head-3{
    font-size: var(--fs-28);
  }

  .head-4{
    font-size: var(--fs-20);
  }

  .head-5 {
    font-size: var(--fs-40);
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .head-4{
    font-size: var(--fs-18);
  }
  .head-5 {
    font-size: var(--fs-34);
    line-height: 1;
  }
}

@media (max-width: 576px) {
  .head-1{
    font-size: 60px;
  }
  .head-3{
    font-size: var(--fs-22);
  }
  .head-5 {
    font-size: var(--fs-28);
    line-height: 1;
  }
}
